---
import { getCollection } from "astro:content";
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import ToolGrid from '../components/ToolGrid.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import JourneyTimeline from "../components/JourneyTimeline.astro";

const toolEntries = await getCollection("tools");
const tools = toolEntries.map((e) => e.data);
const items = await getCollection("journey");
---

<BaseLayout>

	<h1>About me</h1>

	<div class="text-container">
		<p>
			Heyo, I'm Sebastian Zettl, a passionate Full Stack Developer dedicated to crafting seamless and functional web and mobile applications.
		</p>
		<p>
			My background includes extensive experience on both the frontend and backend, enabling me to develop complete solutions from concept to launch. I focus on creating intuitive user interfaces using modern JavaScript frameworks like React or Angular, complemented by responsive and accessible design principles. On the backend, I leverage technologies such as Node.js or Nest.js and also PHP and it's Franeworks, like Symfony to build scalable APIs and robust server-side logic, ensuring a solid foundation for any application.
		</p>
		<p>
			My toolkit also includes proficiency with Docker, allowing me to streamline development, testing, and deployment processes through containerization.
		</p>
		<p>
			Driven by a curiosity for technology and a commitment to constant improvement, I continuously expand my skillset to embrace new frameworks and methodologies. I enjoy the full development lifecycle and the challenge of turning complex requirements into elegant, working solutions.

		</p>

		<p>
			I'm always eager to take on new projects and collaborate with others to build innovative digital experiences.
		</p>

	</div>

	<div class="journey">
		<h2>My Journey</h2>
		<JourneyTimeline items={items} sort="desc" />
	</div>
	
	<div>
		<h2>Acquired skills</h2>

		<h4>Frontend</h4>
		<div class="tool-conatiner">
			<ToolGrid tools={tools} category="Frontend" />

		</div>
		
		<h4>Backend</h4>
			<ToolGrid tools={tools} category="Backend" />
		
		<h4>Tools and Others</h4>
		<ToolGrid tools={tools} category="Others" />
	</div>

	<style>
		.text-container {

		}
	</style>
</BaseLayout>
