---
import Image from 'astro/components/Image.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

import image from '../assets/photo.jpg';

import ProjectList from '../components/ProjectList.astro';


const projects = (await getCollection('project')).filter(
	(a) => a.data.featured == true
).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>

	<div class="introduction-container glow">
		<div class="image-container">
			<Image src={image} alt="hero" width={400} height={400} class="profile-image"></Image>
		</div>
		<div class="text-container">
			
			<span class="name-title">I am Sebastian Zettl</span>
			<p>
				Welcome to my own personal page! I am a passionate developer, with a love for all things coding, with a love for reading and fantasy. I focus on modern technologies with user friendly designs. Take a look through my page to see some of the things I have made!
			</p>
		</div>
	</div>

	<h2 class="project">Featured Projects</h2>
	<ProjectList projects={projects} />

	<style>
		.introduction-container {
			display: flex;
			border: 2px var(--border) solid;
			border-radius: 10px;
			padding: 1em;
			animation: glow 2s ease-in-out infinite;
		}
		
		.text-container {
			display: flex;
			flex-direction: column;
			padding-left: 1em;
		}
		
		.image-container {
			
		}

		.name-title {
			
		}

		.project {
			padding: 1em;
		}

		.profile-image {
			border-radius: 50%;
			border: 1px black solid;

		}

	</style>

</BaseLayout>
