---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import MenuButton from './MenuButton.astro';
import Navigation from './Navigation.astro';
---

<header>

    <nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>	
		<div class="ham-menu">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div id="main-menu" class="internal-links"> 
			<Navigation />
		</div>
		<div class="off-screen-menu" inert>
			<Navigation />
		</div>
    </nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a:hover {
		color: var(--accent);
	}

	h2 a,
	h2 a.active {
		padding: 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		text-decoration: none;
	}

	.off-screen-menu {
		background-color:  rgb(252, 252, 252);
		height: 100vh;
		width: 100%;
		max-width: 400px;
		position: fixed;
		top: 0;
		right: -400px;
		display: flex;
		flex-direction: column;
		align-items: center;    
		justify-content: center;
		text-align: center;
		font-size: 2.5rem;
		transition: .3s ease;
	}
	.off-screen-menu.active {
		right: 0;
	}

	/* ham menu */
	.ham-menu {
		height: 50px;
		width: 40px;
		margin-left: auto;
		position: relative;
		display: none;
		z-index: 1;
	}

	.ham-menu span {
		height: 5px;
		width: 100%;
		background-color: #6F86FF;
		border-radius: 25px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: .3s ease;
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span {
		background-color: #6F86FF;
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	nav {
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	
	@media (max-width: 720px) {
		.ham-menu {
			display: block;
		}
		.internal-links {
			display: none;
		}
	}
</style>
