---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

import FilterableProjectList from '../../components/FilterableProjectList.astro';

const projects = (await getCollection('project')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tags = [...new Set(projects.flatMap((post) => post.data.tags ?? []))].sort();
---

<BaseLayout>
    <h1>Projects</h1>
    <FilterableProjectList id="all-projects" projects={projects} />
</BaseLayout>